.project-cpces-odoo {
  --color-text-400: rgb(15, 23, 42);
  --color-text-300: rgb(51, 65, 85);

  --color-accent-400: #1e40af;
  --color-accent-text-400: white;

  --color-hover: #172554;
  --color-hover-text: #ffffff;

  --color-grayscale-500: #cbd5e1;
  --color-grayscale-400: #e2e8f0;

  --color-background-400: #f8fafc;
  --color-background-300: #ffffff;
}

.project-cenesa-web {
  --color-text-400: rgb(15, 23, 42);
  --color-text-300: rgb(51, 65, 85);

  --color-accent-400: #0ea5e9;
  --color-accent-text-400: white;

  --color-hover: #0369a1;
  --color-hover-text: #ffffff;

  --color-grayscale-500: #cbd5e1;
  --color-grayscale-400: #e2e8f0;

  --color-background-400: #f0f9ff;
  --color-background-300: #ffffff;
}

.project-cenesa-intranet {
  --color-text-400: #ffffff;
  --color-text-300: #cbd5e1;

  --color-hover: #0f172a;
  --color-hover-text: #ffffff;

  --color-accent-400: #38bdf8;
  --color-accent-text-400: rgb(15, 23, 42);

  --color-grayscale-500: #334155;
  --color-grayscale-400: #1e293b;

  --color-background-400: #1e293b;
  --color-background-300: #0f172a;
}
